.side_button:focus{
    outline: none;
}

.side_button:hover{
    background: #1A2268;
    color: #F2C22C;
    border-right: 5px solid #F2C22C ;
    transform: translateZ(0);
}

.active.active{
    background: #1A2268;
    color: #F2C22C;
    border-right: 5px solid #F2C22C ;
    transform: translateZ(0);
}

.active.active img:last-of-type{display: block;}
.active.active img:first-of-type{display: none;}

.side_button {
    display: flex;
    font-weight: bold;
    text-align: left;
    padding: 5px 1.5em ;
    border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px ;
    display: flex;
    align-items: center;
    border: none;
    max-width: 19rem;
    min-width: 1rem;
    height: 4em;
    background: white ;
    color: black ;
    border: none ;
}

.minimized .minimized_text{
    white-space: nowrap;
    margin-left: 0.8333rem;
    width: 14rem;
}
  
  