.space {
    margin-bottom: 4em;
    background-color: white;
    height: 4.5em;
}

.header-text {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.btn-set {
    margin-top: 1em;
}

.right-side {
    text-align: right;
    margin-right: 2em;
}